/* ===============================
   CONTACT.CSS
   Estilos específicos para la página Contacto
=================================*/

.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info p {
    font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid var(--color-secondary);
}

.contact-form button {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
}

.contact-form button:hover {
    background-color: var(--color-highlight);
    color: var(--color-text);
}
