<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Contacto</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>

<header>
    <nav class="navbar">
        <a href="index.html">Inicio</a>
        <a href="projects.html">Proyectos</a>
        <a href="about.html">Sobre mí</a>
        <a href="skills.html">Habilidades</a>
        <a href="contact.html" class="active">Contacto</a>
    </nav>
</header>

<main>
    <h1>Contacto</h1>
    <div class="contact-info">
        <a href="https://wa.me/595972128782?text=Hola%20Willian,%20quiero%20contactarte,%20vengo%20desde%20tu%20portafolio%20web,%20para%20solicitar%20tus%20servicios." target="_blank"><strong>WhatsApp:</strong> +595 972 128 782</a>
        <a href="https://github.com/Gauss-seidel" target="_blank"><strong>GitHub:</strong>Gauss-seidel</a>
        <a href="https://www.linkedin.com/in/willian-matias-nu%C3%B1ez-vera-b79558222/" target="_blank"><strong>LinkedIn:</strong> Willian Matías Núñez Vera</a>
    </div>

    <h2 style="text-align: center; margin-bottom: 40px;">Enviar mensaje</h2>
    <form class="contact-form">
        <label>Nombre</label>
        <input type="text" required>

        <label>Email</label>
        <input type="email" required>

        <label>Mensaje</label>
        <textarea rows="4" required></textarea>

        <button type="submit" class="btn-primary">Enviar</button>
    </form>
</main>

<footer>
    <p>© 2025 Willian – Portafolio Profesional</p>
</footer>

<script src="js/main.js"></script>
</body>
</html>
